body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    width: 100%;
 }
 nav {
   background-color: #48e0ff;
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color:#222
}
nav label{
   display: flex;
   float: left;
}
ul {
   width: 90%;
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   align-items: center;
   display: flex;
   justify-content: space-around;
   color:#222;
}
li {
   margin-left: 3rem;
   
}
a {
   text-decoration: none;
   color: white;
   font-weight: bold;
   color:#222;
}
.searchandpro{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 76%;
}
.search input{
   width: 350px;
   height: 40px;
   border: none;
   border-radius: 20px;
   color : grey;
   padding-left: 15px;
}
.logout{
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
}
.profile{
   display: flex;
   gap:20px;
}

.search svg{
   color:grey;
   font-size: 20px;
   position: absolute;
   transform: translate(320px ,-28px);
}
.icon {
   cursor: pointer;
   margin-left: 20px;
   display: flex;
   flex-direction: row;
   gap:20px;
   justify-content:end;
   align-items: center;
   width: 20%;
   margin-right: 3rem;
}

.icon img {
   height: 40px;
   width: 40px;
   border-radius: 50%;
   border: solid 2px grey;
}
 
 main {
    display: flex;
    flex-direction: column;
    background-color: #E7E7E7;
    width: 100%;
    margin-top: 1rem;
    align-items: center;
 }
 
 .slider {
   margin: auto;
   padding: auto;
   display: flex;
   flex-direction: row;
   gap: 20px;
   height:480px;
   width: 85%;
   flex-wrap:nowrap;
   overflow: hidden;
   overflow-x: scroll;
   background-color: hsl(0, 1%, 79%);
}

::-webkit-scrollbar {
   display: none;
}
.cart{
   cursor: pointer;
   width: 20px;
}

.promotion{
   margin: 20px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   position: relative;
   width: 50%;
   height: 92%;
   flex-shrink: 0;
   background-color: #B0C7E6;
   opacity: 90%;
   border-radius: 10px;
   transition: transform 0.5 ease-in-out;
}
.promotion img{
   margin-left: 30%;
   width: 300px;
   rotate: -12deg;
}

.textpro{
   position: absolute;
   width: 250px;
   transform: translate(-200px, -10px);
}
 
 .listproduct {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 85%;
    padding-bottom: 20px;
    background-color: hsl(0, 1%, 79%);
 }
 
 .product {
    margin:15px 20px;
    width: 307px;
    height: 379px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Set your background color */
    border-radius: 10px;
    box-shadow: 0 0 10px #0096C7; /* Adjust the shadow color */
 }
 .product img{
 
    width: 296px;
    height: 181px;
 }
 .product .text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 70px;
    margin-top: 5px;
    margin-left: 30px;
    float: left;
 }
 .text label{
    margin-top: 10px;
    color: #000;
    font-family: Adamina;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 }
 .product .carticon{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 35px;
    margin-top: 35px;
    cursor: pointer;
 }
 .carticon i{
    font-size: 30px;
 }
 
 /* CSS for Footer */
 footer {
    background-color: #2F2F2F;
    color: #fff;
    font-family: Holtwood One SC;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px 0;
    padding-top: 50px;
 }
 
 .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 100%; 
    margin: 0 auto;
 }
 
 .footer-section {
    flex: 1;
    padding: 0 20px;
 }
 
 .footer-section i{
    margin: 10px;
    cursor: pointer;
 }
 
 .footer-section h2 {
    color: #fff;
 }
 
 .footer-section p {
    line-height: 1.6;
 }
 
 .footer-section ul {
    list-style: none;
    padding: 0;
 }
 
 .footer-section ul li {
    margin-bottom: 10px;
 }
 
 .footer-section a {
    color: #fff;
    text-decoration: none;
 }
 
 .footer-bottom {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
 }
 
 .footer-bottom p {
    margin: 0;
 }
 
 
 @media screen and (max-width: 600px) {
    main {
        margin-left: 10px;
        margin-right: 10px;
    }
 }
 