<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/InsertPageStyle.css}" rel="stylesheet" />
</head>
<body>
    <nav>
        <label>logo</label>
        <ul>
            <li> <a href="#">Home</a></li>
            <li> <a href="#">About us</a></li>
            <li> <a href="#">Contact</a></li>
            <div class="searchandpro">
                <div class="search">
                    <input type="search" value="Search">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                          </svg>
                    </div>
                </div>
            </div>
        </ul>
        <div class="icon">
            <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"/>
                  </svg>
            </div>
            <div class="profile">
                <img src="./asset/image1.jpg" alt="profile">
                <a th:href="@{/Log_In}">
                    <div class="logout">
                        Log out
                    </div>
                </a>
            </div>
        </div>
    </nav>
    <div style="display: flex; ">
        <div class="left-bar" style="display: flex;flex-direction: column;">
        <button>insert product</button>
        <button>view product</button>
        <button>update product</button>
        <button id="logout">Log out</button>
        </div>
<div style="display: flex;flex-direction: column;">
<div style="display: flex;">

    <form th:action="@{/insertproduct}" method="post" th:object="${user}">
        <div class="mb-3">
            <label for="name" class="form-label">Product Name:</label>
            <input type="text" class="form-control" id="ProductName" name="ProductName" required>
        </div>
        
        <div class="mb-3">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="image" name="image" required>
          </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price:</label>
            <input type="text" class="form-control" id="price" name="price" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <input type="text" class="form-control" id="description" name="description" required>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Insert</button>
        </div>
    </form>
    

</div>

<div style="margin-left: 115px ; margin-top: 77px;">
    
       
</div>
</div>
    </div>
    
</body>
</html>