<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/PaymentStyle.css}" rel="stylesheet" />
</head>
<body>
    <nav>
        <label>logo</label>
        <ul>
            <li> <a th:href="@{/carted}">Home</a></li>
            <li> <a href="#">About us</a></li>
            <li> <a href="#">Contact</a></li>
            <div class="searchandpro">
                <div class="search">
                    <input type="search" value="Search">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                          </svg>
                    </div>
                </div>
            </div>
        </ul>
        <div class="icon">
            <div class="cart">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"/>
                  </svg>
            </div>
            <div class="cart">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                  </svg>
            </div>
            <div class="profile">
                <img src="./asset/image1.jpg" alt="profile">
                <div class="logout">
                    Log out
                </div>
            </div>
        </div>
    </nav>
    <div class="frame">
        <h1>Payment</h1>
        <div class="line"></div>
        <h2>Delivery</h2>
    
        <div class="name" style="display: flex; flex-direction: column;">
            <t1>Name</t1> <input class="nameIP" type="text">
        </div>
        <div class="space"></div>
        <div style="display: flex;">
            <div class="name" style="display: flex; flex-direction: column;">
                <t1>Country</t1> <input class="CountryIP" type="text">
            </div>
            <div class="space"></div>
            <div class="name" style="display: flex; flex-direction: column;">
                <t1>City</t1> <input class="CityIP" type="text">
            </div>
            <div class="space"></div>
            <div class="name" style="display: flex; flex-direction: column;">
                <t1>Post code</t1> <input class="PostIP" type="text">
            </div>
        
        </div>
        <div class="space"></div>
        <div class="name" style="display: flex; flex-direction: column;">
            <t1>Address</t1> <input class="address" type="text">
            <div class="space"></div>
            <div class="name" style="display: flex; flex-direction: column;">
                <t1>Phone number</t1> <input class="PhoneIP" type="text">
                <div class="space"></div>
                <div class="line"></div>
    
                <h2>Payment</h2>
    
                <div class="name" style="display: flex; flex-direction: column;">
                    <t1>Card number</t1> <input class="address" type="text" placeholder="xxxx - xxxx - xxxx - xxxx">
                    <div class="space"></div>
                    <div style="display: flex; ">
                        <div class="name" style="display: flex; flex-direction: column;">
                            <t1>Expiration date</t1> <input class="ExIP" type="text" placeholder="MM/YY"></div>
                            <div class="space"></div>
                            <div class="name" style="display: flex; flex-direction: column;">
                                <t1>Security code</t1> <input class="ExIP" type="text" placeholder="Security code"></div>
                    </div>
                    <div class="space"></div>
                    <div class="name" style="display: flex; flex-direction: column;">
                        <t1>Name on card</t1> <input class="address" type="text">
                        <div class="space"></div>
    
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
                            <t3>Print recipt as pdf</t3>
                          </label>
                        </div>
    
                        <div style="display: flex;">
                            <a href="@{/carted}">
                                <button type="button" class="bluebtn">Discard</button>
                            </a>
                            <div class="space"></div>
                            <button class="bluebtn">BUY NOW</button>
        
                        </div>
    
        </div>
</body>
</html>