<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
    <h1>Hello</h1>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr th:each="Product : ${products}">
                <td th:text="${Product.proID}"></td>
                <td th:text="${Product.proName}"></td>
                <td th:text="${Product.description}"></td>
                <td th:text="${Product.quantity}"></td>
                <td th:text="${Product.price}"></td>
            </tr> -->
        </tbody>
    </table>
</body>
</html>