<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/viewstyle.css}">
</head>
<body>
    <nav>
        <label>logo</label>
        <ul>
            <li> <a href="#">Home</a></li>
            <li> <a href="#">About us</a></li>
            <li> <a href="#">Contact</a></li>
            <div class="searchandpro">
                <div class="search">
                    <input type="search" value="Search">
                    <i class="fa-solid fa-search"></i>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-bell"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <img src="./asset/image1.jpg" alt="profile">
                </div>
            </div>
        </ul>
    </nav>
    <main>
        <div class="detail">
            <div class="productdetail">
                <a th:href="@{/homepagelist}">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
                <div class="proimg">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpvn9KKRQ0Fxt0pTCeXieDHFcrc6QDERpyGg&usqp=CAU" alt="">
                    <div class="imagetext">
                        <h1>Air Jordan 4 Frozen</h1>
                        <label>Price:</label>
                        <label>size:</label>
                        <label>Descriiption:</label>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore accusantium eaque, eveniet nemo sed dolores laudantium repudiandae suscipit quo et. Repudiandae impedit incidunt odio dolore tempora voluptatem at quae sed.</p>
                    </div>
                </div>
                <div class="select">
                    <label>color:</label>
                    <div class="color">
                        <div class="red"></div>
                        <div class="blck"></div>
                        <div class="cyan"></div>
                        <div class="brown"></div>
                        <div class="white"></div>
                    </div>
                </div>
                <div class="quantity">
                    <label>Quantity</label>
                    <div class="qtselect">
                        <button onclick="decreaseQuantity()">-</button>
                        <span id="quantityValue">1</span>
                        <button onclick="increaseQuantity()">+</button>
                    </div>
                    <label>Total:</label><br>
            
                    <button class="addtocart">
                        Add to cart
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                </div>
            </div>
            <div class="recommended">
                <label class="rec">Recommended</label><br>
                <div class="recpro">  
                    <div class="recimg">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <label>Price:xxx</label>
                        <label>size:xxx</label>
                        <label>color:xxx</label>
                    </div>
                </div>
                <div class="recpro">  
                    <div class="recimg">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <label>Price:xxx</label>
                        <label>size:xxx</label>
                        <label>color:xxx</label>
                    </div>
                </div>
                <div class="recpro">  
                    <div class="recimg">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <label>Price:xxx</label>
                        <label>size:xxx</label>
                        <label>color:xxx</label>
                    </div>
                </div>
                <div class="recpro">  
                    <div class="recimg">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <label>Price:xxx</label>
                        <label>size:xxx</label>
                        <label>color:xxx</label>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        // increaseDecrease.js

let quantity = 1;

function increaseQuantity() {
    quantity++;
    updateQuantityDisplay();
}

function decreaseQuantity() {
    if (quantity > 1) {
        quantity--;
        updateQuantityDisplay();
    }
}

function updateQuantityDisplay() {
    document.getElementById('quantityValue').innerText = quantity;
}

    </script>
</body>
</html>