<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carted</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/viewcarted.css}">
</head>
<body>
    <nav>
        <label>logo</label>
        <ul>
            <li> <a href="#">Home</a></li>
            <li> <a href="#">About us</a></li>
            <li> <a href="#">Contact</a></li>
            <div class="searchandpro">
                <div class="search">
                    <input type="search" value="Search">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                          </svg>
                    </div>
                </div>
            </div>
        </ul>
        <div class="icon">
            <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"/>
                  </svg>
            </div>
            <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                  </svg>
            </div>
            <div class="profile">
                <img src="./asset/image1.jpg" alt="profile">
                <div class="logout">
                    Log out
                </div>
            </div>
        </div>
    </nav>
    <!-- <main>
        <div class="cartpage">
            <h1>Carted</h1>
            <div class="cartlist">
                <h3>Price</h3>
                <div class="cartedpro">
                    <div class="cartedimg">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <label th:text="${product.price}">Price:xxx</label>
                        <label th:text="${product.size}">Size:xxx</label>
                        <label th:text="${product.color}">Color:xxx</label>
                        <div class="quantity">
                            <label for="quantity1">Quantity</label>
                            <div class="qtselect">
                                <button type="button" onclick="decreaseQuantity('quantity1')">-</button>
                                <input type="number" id="quantity1" name="quantity" th:value="${product.quantity}" readonly/>
                                <button type="button" onclick="increaseQuantity('quantity1')">+</button>
                            </div>
                            <label th:text="${product.total}">Total:</label><br>
    
                            <button class="addtocart">
                                Add to cart
                                <i class="fa-solid fa-cart-shopping"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <h3 th:text="${totalAmount}">Total:</h3>
            <div class="btn">
                <a th:href="@{/homepagelist}">
                    <button>Back</button>
                </a>
                <a th:href="@{/payment}">
                    <button>BUY NOW</button>
                </a>
            </div>
        </div>
    </main> -->
    
    
</body>
</html>